# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
__pycache__/
*.pyc

check_points*/
figures*/
figure*/
deprecated*/
data*/
cache*/
.vscode/

*.xml

*.mat
*.eps

*.DS_Store
*.asv
.idea

*.zip
*.exe

/submodules

*.pdf
*.png
*.pt
*.jpg
*.pkl

report*/
# *.err
# *.out

*.csv
*.pt

*.so